<footer class="container">
  <div class="row text-small">
    <div class="col-md-10">
      &copy; <%= Time.now.year %> Rational Means
    </div>

    <div class="col-md-2 footer-col footer-follow">
      <div class="headline"><strong>Follow Us</strong></div>

      <a href="https://github.com/timcheadle"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://twitter.com/timcheadle"><i class="fa fa-twitter fa-2x"></i></a>
    </div>
</footer>
